.button {
    font-family: verdana, arial, helvetica;
    font-size: 13px;
    background: #FFFFD0;
    border: 1px solid #000;
    width: 240px;
    height: 26px;
}

.button:hover {
    cursor: pointer;
}

/* DEPRECATED remove in time */
.textinput {
    font-family: verdana, arial, helvetica;
    font-size: 13px;
    background-color: #EEEEFF;
    border: 1px solid #000;
    width: 200px;
}

.selectlist {
    font-family: verdana, arial, helvetica;
    font-size: 13px;
    background-color: #EEEEFF;
    border-color: #000;
}

div.main {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

/* Here are the new stuff added */
/* Should these spans be inlined div?  Is span cool or as bad as bold? */

/* courtousy of silverorange.com and meyerweb.com/eric/tools/color-blend/ */
body {
    background: #bdbcaf;
    font-family: verdana, arial, helvetica;
    font-size: 13px;
    background: #BDBCAF;
    text-align: center;
    vertical-align: middle; 
}

#admin_masthead {
    font-size: small;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}
#admin_content {
    font-family: verdana, arial, helvetica;
    background: #fff;
    font-size: 13px;
    border: 1px solid #000;   
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;   
    text-align: center;
    width: 90%;
}

table {
    margin-left: auto; 
    margin-right: auto;
}

span.error_msg {
    color: #F00;
    font-weight: bold;
}
span.status_msg {
    color: #00F;
    font-weight: bold;
}

span.section_title {
    font-weight: bold;
    font-size: 15px;
}

div.info_box {
    padding: 10px;
    background: #d0e0ff;
    font-size: smaller;
    border: 1px solid #000; 
    margin: 5px;
}

.info_text {
    font-size: smaller;
    text-align: center;
    margin: 5px;
}

span.info_title {
    font-weight: bold;
    font-size: larger;
}

table.info_table {
    border: 2px solid #000;
    text-align: center;
    width: 94%;
    font-size: small;
    border-collapse: collapse;
    background: #FFF;
}

.info_table th {
    background: #b0b0d0;
    border: 1px solid #000;
}

.info_table td {
    border: 1px solid #000;
}

table.config_table {
    border: 2px solid #000;
    text-align: center;
    width: 94%;
    font-size: small;
    border-collapse: collapse;
}

.config_table th {
    border: 1px solid #000;
    text-align: right;
    font-weight: normal;
    padding: 6px;
}

.config_table .info_title {
    font-size: small;
}

.config_table td {
    border: 1px solid #000;
    padding: 6px;
}

table.form_table {
    font-size: small;
    padding: 1px;
}

.form_table th {
    text-align: right;
    vertical-align: top;
    padding: 3px 0px;	
}

.form_table td {
    text-align: left;
    vertical-align: top;
}

.form_long td, .form_long th {
    border-bottom: 1px dotted gray;
    padding: 3px 0px;
}

.section_head td, .section_head th {
    text-align: left;
    border-bottom: 1px dotted black;
    padding: 3px 0px;
}

input {
    font-family: verdana, arial, helvetica;
    font-size: 13px;
}
textarea {
    font-size: 13px;
    font-family: verdana, arial, helvetica;
    /* Get rid of the following lines, when all fields use inputfield */   
    background-color: #eef;
    border: 1px solid #000;
}

.inputfield {
    background-color: #EEEEFF;
    border: 1px solid #000;
    width: 100%;
}

/* .textarea {
   background-color:#D8E8FF;
    border: 1px solid #40679E;
    color: #000;
    width:100%;
} */

.text_right {
    text-align: right;
}
.text_left {
    text-align: left;
}

.link_button {
    color: #000000;
    text-decoration:none;
    padding: 2px 1em 2px 1em;
    line-height: 2em;
    background: #D0FFD0;
    font-family: verdana, arial, helvetica;
    font-size: 13px;
    border: 1px solid #000000;
    /* height: 26px;  This wont do anything unless its display block*/
}

input.cancel_button {
    background: #FFD0D0;
    border: 1px solid #000;
    padding: 2px 1em 2px 1em;
}

input.other_button {
    background: #FFFFD0;
    border: 1px solid #000;
    padding: 2px 1em 2px 1em;
}

input.accept_button {
    background: #D0FFD0;
    border: 1px solid #000;
    padding: 2px 1em 2px 1em;
}

input.button_hov:hover {
    background: #000;
    color: #FFF;
    border: 1px solid #FFF;
    padding: 2px 1em 2px 1em;
    cursor: pointer;
}

.hidden {
    display:none;
}

#admin_footer {
    text-align: right;
    margin-top: 10px;
}
.copynotice {
    color:#000;
    font-size:7pt;
    text-decoration:none;
}
.copynotice:hover {
    color: #FFFFFF;
}
