html {
    image-rendering: optimizeSpeed;		/* STOP SMOOTHING, GIVE ME SPEED */
    image-rendering: -moz-crisp-edges;		/* Firefox*/
    image-rendering: -o-crisp-edges;		/* Opera */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;		/* CSS3 Proposed */
    -ms-interpolation-mode: nearest-neighbor;	/* IE8+ */
    image-rendering: crisp-edges;
}

body {
    text-align:center;
    /*font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;*/
    line-height: 18px;
    color: #000;
    background: #fdc;
    /*font-family: verdana, 'trebuchet ms', sans-serif;*/
}

p { /*line-height: 1.0;*/ }

#frame {
    width:720px;
    margin-right:auto;
    margin-left:auto;
    padding:0px;
    text-align:left;
    border: 2px solid black;
    background-color: white;
    padding: 5px;
    background-image: url(data:image/gif;base64,R0lGODdhAwADAIABAPv7+////ywAAAAAAwADAAACA0RuWAA7);
}
#frame::after {
  content: " ";
   display: block;
   height: 0;
   clear: both;
}

#contentcenter {
    width:550px;
    /*float:left;*/
    background:#fff;
    display: inline-block;
    vertical-align: top;
}

#contentright {
    width:160px;
    padding:0px;
    margin-top:3px;
    float:right;
    background:#fff;
    display: inline-block;
}

#contentleft {
    width:160px;
    padding:0px;
    margin-top:3px;
    float:left;
    background:#fff;
}

#contentheader { background:#fff; }

@media only screen and (max-width:565px) {
    #contentright {
        display:none;
    }
    #contentcenter {
	 width: 100% !important;
    }
    #frame {
	display: table-cell;
    }
    .header {
	/*padding-top: 0px !important;*/
    }
}

@media only screen and (max-width:725px) {
    #contentleft {
	display:none;
    }
}

p,h1,h2,h3,pre {
    /*margin:0px 10px 10px 10px;*/
    padding-top: 0px;
}

h1 {
    display:table;
    border-bottom: 1px dotted black;
}

.header {
    margin-left: auto;
    margin-right: auto;
}

hr {
    border:1px dotted black;
}

tr {
    text-align: center;
}

/*h1 { font-size:18px; }
h2 { font-size:13px; }
h3 { font-size:12px; }*/

h2 {
    border-bottom: 1px dotted black;
    display: table-cell;
}

.h2_full {
    margin-bottom: 0px;
    margin-top: 3px;
    display: block;
}

#contentheader h1 {
    /*font-size:14px;*/
    padding:10px;
    margin:0px;
}

#contentright p, #contentright table {
    font-size:13px;
    margin: 0;
}


a {
    /*color: #e56701;*/
    text-decoration: none;
    font-weight:bold;
}
a:hover {
    text-decoration: underline;
}

.button {
    border: 1px solid #000;
}

.text {
    border: 1px solid #000;
    color: #000;
}

.raised {
    position: relative;
    top: -15px;
    left: 12px;
    padding: 2px;
    background:#fff;
    background-image: url(data:image/gif;base64,R0lGODdhAwADAIABAPv7+////ywAAAAAAwADAAACA0RuWAA7);
}

table.calendar { width: 100%; }

.searchform { margin-right: 7px; }

.content { margin-left: 3px; }

.archiveContent {
    border: 3px double black;
    margin-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.path {
    border-bottom: 1px dotted black;
    display: table-cell;
}

#comments {
    border: 3px double black;
    padding: 5px;
}
.post {
    border: 3px double black;
    padding: 5px;
    margin-top: 3px;
}

.info {
    border-bottom: 1px dotted black;
    display: inline-table;
    padding-top: 3px;
    font-size: small;
}

.info_archive {
    border-bottom: none;
}

.direction {
    padding-top: 2px;
}

.entry-byline {
    font-size: 80%;
    clear: left;
    margin: 0px;
    padding: 3px 0px 3px 0px;
    border-top: thin dotted gray;
}

.entry-header {
    margin: 0px;
    padding: 3px 0px 3px 0px;
}
