body {
    text-align:center;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    line-height: 18px;
    color: #000;
    background-color: #fff
}

#frame {
    width:720px;
    margin-right:auto;
    margin-left:auto;
    padding:0px;
    text-align:left;
}

@media only screen and (max-width:565px) {
    #contentright {
        display:none;
    }
    #contentcenter {
	 width: 100% !important;
    }
    #frame {
	display: table-cell;
    }
    .header {
	padding-top: 0px !important;
    }
}

@media only screen and (max-width:725px) {
    #contentleft {
	display:none;
    }
}

#contentcenter {
    width:550px;
    margin-top:3px;
    float:left;
    background:#fff;
}

#contentright {
    width:160px;
    padding:0px;
    margin-top:3px;
    float:right;
    background:#fff;
}

#contentleft {
    width:160px;
    padding:0px;
    margin-top:3px;
    float:left;
    background:#fff;
}

#contentheader { background:#fff; }

p,h1,h2,h3,pre {
    /*margin:0px 10px 10px 10px;*/
    padding-top: 0px;
}

h1 {
    display:table;
    border-bottom: 1px dotted black;
}

.header {
    padding-top: 30px;
    /*background-color: #FDC;*/
}

hr {
    border:1px dotted black;
}

tr {
    text-align: center;
}

h1 { font-size:18px; }
h2 { font-size:13px; }
h3 { font-size:12px; }

#contentheader h1 {
    font-size:14px;
    padding:10px;
    margin:0px;
}

#contentright p { font-size:10px; }

a {
    /*color: #e56701;*/
    text-decoration: none;
    font-weight:bold;
}
a:hover {
    text-decoration: underline;
}

.button {
    border: 1px solid #000;
}

.text {
    border: 1px solid #000;
    color: #000;
}

.raised {
    position: relative;
    top: -12px;
    left: 12px;
    padding: 4px;
    background:#fff;
}

table.calendar { margin-left: 10px; }

.searchform { margin-right: 7px; }

.content { margin-left: 10px; }

.archiveContent {
    border: 3px double black;
    margin-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.path {
    border-bottom: 1px dotted black;
    display: table-cell;
}
